---
- name: create docker-services wireguard directory
  become_user: "{{user_account}}"
  file:
    path: "{{ewe_dir}}/{{item}}"
    mode: "0755"
    state: directory
  loop:
    - "wireguard/{{wg.name}}"
