---
- hosts: "{{ vps_host | default('metal_servers') }}"
  gather_facts: true
  become: true
  vars:
    hello: world
  vars_files:
    - "{{inventory_dir}}/vars/package_vars.yml"
    - "{{inventory_dir}}/vars/controller_vars.yml"
    - "{{inventory_dir}}/vars/ignite_images.yml"
    - "{{inventory_dir}}/vars/networks.yml"
    - "{{inventory_dir}}/vars/caddy.yml"
    - "{{inventory_dir}}/vars/{{host_secret_file}}"
    - "{{inventory_dir}}/vars/{{ host_var_file | default('default.yml') }}"
  roles:
    - role: ewe.infra.hello
    - role: ewe.infra.git
    - role: ewe.infra.net
    - role: ewe.infra.wireguard_hello
    - role: ewe.infra.machine_ssh
    - role: ewe.infra.controller_ssh
    - role: ewe.infra.kvm
    - role: ewe.infra.yq
    - role: ewe.infra.docker
    - role: ewe.infra.docker_compose
    - role: ewe.infra.containerd
    - role: ewe.infra.firecracker
    - role: ewe.infra.iptables
    - role: ewe.infra.docker_restart
    - role: ewe.infra.docker_registry
    - role: ewe.infra.caddy2
    - role: ewe.infra.ollama
    - role: ewe.infra.llamafile
    - role: ewe.infra.openwebui
  tasks:
#    - import_tasks: ../tasks/general_tasks_here.yml
