---
- hosts: "{{ metal_master | default('metal_master') }}"
  gather_facts: true
  become: yes
  vars:
  vars_files:
    - "{{inventory_dir}}/vars/package_vars.yml"
    - "{{inventory_dir}}/vars/controller_vars.yml"
    - "{{inventory_dir}}/vars/ignite_images.yml"
    - "{{inventory_dir}}/vars/{{vm_var_secrets_file}}"
    - "{{inventory_dir}}/vars/{{vm_var_file}}"
  roles:
    - role: ewe.infra.hello
    - role: ewe.infra.machine_ssh
    - role: ewe.infra.controller_ssh
    - role: ewe.infra.kvm
    - role: ewe.infra.yq
    - role: ewe.infra.docker
    - role: ewe.infra.docker_compose
    - role: ewe.infra.docker_registry
    - role: ewe.infra.cni
    - role: ewe.infra.calico
    - role: ewe.infra.containerd
    - role: ewe.infra.firecracker
    - role: ewe.infra.ignite
    - role: ewe.infra.ignite_image
    - role: ewe.infra.ignite_import
    - role: ewe.infra.wireguard
    - role: ewe.infra.caddy2
  tasks:
#    - import_tasks: ../tasks/general_tasks_here.yml
